* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #f5f5f5;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 650px;
  overflow-x: auto;
  background-color: #262626;
}

.App *::-webkit-scrollbar {
  width: 8px;
}

.App *::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

.App *::-webkit-scrollbar-track {
  background: transparent;
}

a {
  text-decoration: none;
}
