.problems-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 16px;
  background-color: #21183e;
  border: 1px solid #50408b;
  margin-top: 2rem;
}

.problems-container h1 {
  text-align: center;
  margin: 1.5rem 0 1rem 0;
  color: white;
}

.problems-table {
  overflow-y: auto;
  max-height: 70vh;
  width: 100%;
  z-index: 0;
}

.problems-table::-webkit-scrollbar {
  width: 8px;
}

.problems-table::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

.problems-table::-webkit-scrollbar-track {
  background: transparent;
}

.table-header {
  display: flex;
  padding: 1rem 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid #50408b;
  width: 100%;
  color: white;
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: #21183e;
}

.table-row {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #50408b;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s ease;
  color: white;
  z-index: 0;
}

.table-row:hover {
  background-color: #3c2d70;
}

.table-row:last-child {
  border-bottom: none;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.col-id {
  flex: 0 0 10%;
  color: #666;
}

.col-title-header {
  flex: 1;
}

.col-title {
  flex: 1;
}

.col-difficulty {
  flex: 0 0 15%;
  max-width: 120px;
  text-align: center;
  height: fit-content;
  padding: 2px 8px 4px 8px;
  border-radius: 8px;
}

.col-difficulty.easy {
  color: #7bfefd;
  background-color: #234a54;
}

.col-difficulty.medium {
  color: #fffec6;
  background-color: #3d283a;
}

.col-difficulty.hard {
  color: #ff9098;
  background-color: #4d0d2f;
}

.loading,
.error {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.error {
  color: #ff2d55;
}
